div{
    padding: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
img{
    border-radius: 25px;
}
h5:hover{
    color: green;
    transition: 1s;
    cursor: pointer;
}