button{
    margin-top: 25px;
    margin-bottom: 25px;
}
input{
    margin-top: 25px;
}
div{
    margin: 0 auto;
    margin-top: 55px;
    width: 500px;
    height: 500px;
    background-color: aqua;
    padding: 55px;
}