<section>
    <form action="" [formGroup]="formUser">
        <label for="">Name :</label>
        <input type="text" formControlName="name">
        <br>

        <label for="">Age :</label>
        <input type="text" formControlName="age">
        <br>

        <label for="">phone :</label>
        <input type="text" formControlName="phone">
        <br>

        <label for="">email :</label>
        <input type="text" formControlName="email">
        <br>
        <main formGroupName="address">
            <label for="">House No :</label>
            <input type="text" formControlName="hno">
            <br>

            <label for="">state :</label>
            <input type="text" formControlName="state">
            <br>

            <label for="">pin :</label>
            <input type="text" formControlName="pin">
            <br>

        </main>


        <label for="">type :</label>
        <input type="radio" name="type" formControlName="type" value="day scholar">
        <label for="">day scholar</label>
        <input type="radio" name="type" formControlName="type" value="residential">
        <label for="">residential</label>
        <br>

        <div *ngIf="formUser.get('type')?.value=='day scholar'">
            <label for="">bus fee</label>
            <input type="number" formControlName="busFee">
        </div>

        <div *ngIf="formUser.get('type')?.value=='residential'">
            <label for="">hostel fee</label>
            <input type="number" formControlName="hostelFee">
        </div>

        <button (click)="submit()" class="btn btn-danger">submit</button>

    </form>
</section>