
    .cards{
        height: 350px;
        width: 350px;
        border: 1px solid red;
        margin: 0 auto;
        background-color: rgb(140, 181, 181);
        padding: 30px;
    }

    button{
        position: relative;
        top: 80px;
        left: 80px;
        border: none;
        background-color: blue;
        color: #fff;
    }