
<input type="text" [(ngModel)]="filter" (keydown)="getstudentFilter()">
<label> column : </label>
<select [(ngModel)]="column">
    <option>name</option>
    <option>phone</option>
    <option>city</option>
    <option>fee</option>
</select>
<label>order : </label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>
<button (click)="getstudentsorted()">sort</button>

<br>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>name</th>
            <th>phone</th>
            <th>city</th>
            <th>fee</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.name}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.city}}</td>
            <td>{{student.fee}}</td>
            <td>{{student.id}}</td>
        </tr>
    </tbody>
</table>
