
        <div *ngFor="let user of users" class="card">
            <div >
                <h2>Personal Details</h2>
                <h5>{{"name :"+user.name}}</h5>
                <h5>{{"User Name :"+user.username}}</h5>
                <h5>{{"Email :"+user.email}}</h5>
                <h5>{{"Phone :"+user.phone}}</h5>
                <h5>{{"website :"+user.website}}</h5>
                
            </div>
            <div class="space">
                <h2>Address detials</h2>
                <h5>{{"Street : "+user.address.street}}</h5>
                <h5>{{"Suite : "+user.address.suite}}</h5>
                <h5>{{"City : "+user.address.city}}</h5>
                <h5>{{"Zipcode : "+user.address.zipcode}}</h5>
                <h5>{{"Geo-lat : "+user.address.geo.lat}}</h5>
                <h5>{{"Geo-ng : "+user.address.geo.lng}}</h5>  
            </div>
           <div class="space">
            <h2>Company details</h2>
            <h5>{{"Company : "+user.company.name}}</h5>
            <h5>{{"CatchPhrase : "+user.company.catchPhrase}}</h5>
            <h5>{{"bs : "+user.company.bs}}</h5>
           </div>            
          

        </div>
