<div class="container3">
    <div class="left1">
        <h1>My website</h1>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="info">Info</h3>
        <h3 routerLink="variable">Variable</h3>
        <h3 routerLink="interpolation">Interpolation</h3>
        <h3 routerLink="eventbinding">Eventbinding</h3>
        <h3 routerLink="twowaybinding">Twowaybinding</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="bmicalculator">Bmicalculator</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">circle</h3>
        <h3 routerLink="structuraldirectives">Structuraldirectives</h3>
        <h3 routerLink="attribute-directives">Attribute-directives</h3>
        <h3 routerLink="assaigment">Assaignment</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="bank">Bank</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="gmail">Gmail</h3>
        <h3 routerLink="quotes">Quotes</h3>
        <h3 routerLink="gallery">gallery</h3>
        <h3 routerLink="user">User</h3>
        <h3 routerLink="student">Student</h3>
        <h3 routerLink="createvehicle">create-vehicle</h3>
        <h3 routerLink="bankuser">bank-user</h3>
        <h3 routerLink="createuser">createuser</h3>
        <h3 routerLink="productuser">productuser</h3>
        <h3 routerLink="parent">parent</h3>
        <h3 routerLink="child">child</h3>
        <h3 routerLink="item">item</h3>
        <h3 routerLink="nav">nav</h3>
        <h3 routerLink="cart">cart</h3>
        <h3 routerLink="task">task</h3>
        <h3 routerLink="task1">task1</h3>
        <h3 routerLink="company">about-company</h3>
        <h3 routerLink="ceo">about-ceo</h3>
        <h3 routerLink="contact/hr">contact-hr</h3>
        <h3 routerLink="contact/contactpage">contact support</h3>
        <br>
        <button (click)="back()">logout</button>


    </div>
    <div class="right1">
        <router-outlet></router-outlet>
    </div>

</div>
